<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectFitness"
        tools:targetApi="31">
        <activity
            android:name="loginscreens.Register"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.ProjectFitness" />
        <activity
            android:name=".Homes"
            android:exported="true"
            android:label="@string/title_activity_"
            android:theme="@style/Theme.ProjectFitness" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ProjectFitness" />
        <activity
            android:name=".ThirdInfoScreen"
            android:exported="false"
            android:label="@string/title_activity_third_info_screen"
            android:theme="@style/Theme.ProjectFitness" />
        <activity
            android:name=".SecondInfoScreen"
            android:exported="false"
            android:label="@string/title_activity_second_info_screen"
            android:theme="@style/Theme.ProjectFitness" />
        <activity
            android:name=".InfoScreen"
            android:exported="false"
            android:label="@string/title_activity_info_screen"
            android:theme="@style/Theme.ProjectFitness" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SplashScreen.ProjectFitnessSplashScreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>